@import 'Layouts/main-layout.scss';

body {
  background-color: white;
  color: black;
}

.hello-block {
  &__image {
    display: flex;
    justify-content: center;
    margin: 80px 0 40px;
    img {
      width: 400px;
    }
  }
  &__title {
    text-align: center;
    color: black;
  }
}
