extends Layouts/main-layout.pug

block variables
  - let title = 'UI-kit';
  - let withHeaderFooter = true;
  - let pageClassName = 'UI-kit';

block styles
  link(href=require('./ui-kit.scss') rel='stylesheet')
block content
  main.page__main(class=pageClassName)
    .hello-block
      .hello-block__image
        img(src=require('Img/ui-kit.png') alt='UI-kit Logo')
      .hello-block__title
        h1 Hi, UI-kit!
block scripts
  script(src=require('./ui-kit.js') defer)
