extends Layouts/main-layout.pug

block variables
  - var title = 'Main page'

block styles
  link(href=require('./main.scss') rel='stylesheet')
  //- link(rel="icon" href="assets/img/favicon/favicon.ico" type="image/ico")
block content
  main.page__main
    h1 Hi
block scripts
  script(src=require('./main.js') defer)