@import 'Styles/styles.scss';
@import 'Components/common/header/header.scss';
@import 'Components/common/footer/footer.scss';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.page__main {
  flex: 1 0 auto;
}
