@import 'Styles/styles.scss';

if($withHeaderFooter) {
  @import 'Components/common/header/header.scss';
  @import 'Components/common/footer/footer.scss';
}


html,
body {
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex: 1 0 auto;
}
